{% extends 'base.html.twig' %}
{% block crumbs %}
    <!-- page content header -->
    <div class="row add-padding">
        <div class="pull-left">
            <h1>Текстовые материалы</h1>
            <ol class="breadcrumb">
                <li><a href="/admin" class="text-transparent"><i class="icon-home"></i> Главная</a></li>
                <li class="active"><a href="/admin/{{ controller }}">Текстовые материалы</a></li>
            </ol>
        </div>
    </div><!-- / page content header -->
{% endblock %}

{% block content %}
    <!--Content-->
    <!-- Row 1 -->
    <div class="row col-lg-12">
        <div class="panel panel-white-solid">
            <div class="panel-heading">
                <div class="pull-left"><h4><i class="icon-table"></i> Категория</h4></div>
                <div class="tools pull-right">
                    <a href="#"><i class="icon-refresh text-transparent"></i></a>
                    <a href="javascript:;" class="close-panel" data-dismiss="panel" aria-hidden="true"><i class="icon-remove text-transparent"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="topselector">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Категории <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for cat in categories %}
                                <li><a href="/admin/articles?category={{ cat.id }}">{{ cat.name }}</a></li>
                            {% else %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a href="#"><small>VIEW ALL</small></a>
                <a href="#"><div class="pull-right"><i class="icon-circle-arrow-right"></i></div></a>
            </div>
        </div>
    </div><!-- / row 1 -->
    <!-- Row 2 -->
    <div class="row col-lg-12">
        <div class="panel panel-white-solid">
            <div class="panel-heading">
                <div class="pull-left"><h4><i class="icon-table"></i>  Материалы </h4></div>
                <div class="tools pull-right">
                    <a href="#"><i class="icon-refresh text-transparent"></i></a>
                    <a href="javascript:;" class="close-panel" data-dismiss="panel" aria-hidden="true"><i class="icon-remove text-transparent"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <p>
                        <a class="btn btn-primary btn-lg fileinput-button" href="/{{ lang }}/admin/{{ controller }}/new">Добавить новый</a>
                    </p>
                </div>
            </div>
            <div class="panel-body">
                <!--table-->
                <div class="table-responsive">
                    <table id="tasks" class="table table-hover table-striped table-content">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Название</th>
                            <th>Действия</th>
                            <th>Порядок</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td><span class="label label-inverse label-md">{{ item.id }}</span></td>
                                <td>{{ item.menu }}</td>
                                <td>
                                    <a class="btn btn-default" href="/{{ lang }}/admin/{{ controller }}/edit?id={{ item.id }}"><i class="icon-pencil"></i></a>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            Действия <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/{{ lang }}/admin/{{ controller }}/edit?id={{ item.id }}">Редактировать</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/{{ lang }}/admin/{{ controller }}/delete?id={{ item.id }}">Удалить</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                   {{ item.order }}
                                </td>
                            </tr>
                        {% else %}
                            Не выбранно ни одной категории
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <!-- / table -->
            </div>
            <div class="panel-footer">
                <a href="#"><small>VIEW ALL</small></a>
                <a href="#"><div class="pull-right"><i class="icon-circle-arrow-right"></i></div></a>
            </div>
        </div>
    </div><!-- / row 2 -->
{% endblock %}

