{% extends 'base.html.twig' %}
{% block crumbs %}
    <!-- page content header -->
    <div class="row add-padding">
        <div class="pull-left">
            <h1>Управление Типами Контента</h1>
            <ol class="breadcrumb">
                <li><a href="/admin" class="text-transparent"><i class="icon-home"></i> Главная</a></li>
                <li class="active"><a href="/admin/{{ controller }}">Управление Типами Контента</a></li>
            </ol>
        </div>
    </div><!-- / page content header -->
{% endblock %}

{% block content %}
    <!--Content-->
    <!-- Row 1 -->
    <div class="row">
        <div class="panel panel-white-solid col-md-6 col-xs-12">
            <div class="panel-heading">
                <div class="pull-left"><h4><i class="icon-table"></i> Типы контента</h4></div>
                <div class="tools pull-right">
                    <a href="#"><i class="icon-refresh text-transparent"></i></a>
                    <a href="javascript:;" class="close-panel" data-dismiss="panel" aria-hidden="true"><i class="icon-remove text-transparent"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="topselector">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Выберите тип <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for type in types %}
                                <li><a href="/admin/unicon?ctype={{ type.id }}">{{ type.name }}</a></li>
                            {% else %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a href="#"><small>VIEW ALL</small></a>
                <a href="#"><div class="pull-right"><i class="icon-circle-arrow-right"></i></div></a>
            </div>
        </div>
        <div class="panel panel-white-solid col-md-6 col-xs-12">
            <div class="panel-heading">
                <div class="pull-left"><h4><i class="icon-warning-sign"></i> Служебные функции</h4></div>

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <p>Внимание нажатие этой кнопки приведет к пересозданию таблиц данного типа, и УНИЧТОЖЕНИЮ всего содержимого.</p>
                <a class="btn btn-primary btn-lg btn-danger" href="/{{ lang }}/admin/{{ controller }}/recreate?id={{ current_type }}">Пересоздать таблицы</a>
            </div>

        </div>
    </div><!-- / row 1 -->
    <!-- Row 2 -->
    <div class="row col-lg-12">
        <div class="panel panel-white-solid">
            <div class="panel-heading">
                <div class="pull-left"><h4><i class="icon-table"></i>  Материалы </h4></div>
                <div class="tools pull-right">
                    <a href="#"><i class="icon-refresh text-transparent"></i></a>
                    <a href="javascript:;" class="close-panel" data-dismiss="panel" aria-hidden="true"><i class="icon-remove text-transparent"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <p>
                        <a class="btn btn-primary btn-lg fileinput-button" href="/{{ lang }}/admin/{{ controller }}/newfield">Добавить новое поле</a>
                    </p>
                </div>
            </div>
            <div class="panel-body">
                <!--table-->
                <div class="table-responsive">
                    <table id="tasks" class="table table-hover table-striped table-content">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Название</th>
                            <th>Действия</th>
                            <th>Тип поля</th>
                            <th>Порядок</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for field in fields %}
                            <tr>
                                <td><span class="label label-inverse label-md">{{ field.id }}</span></td>
                                <td>{{ field.field_name }}</td>
                                <td>
                                    <a class="btn btn-default" href="/{{ lang }}/admin/{{ controller }}/edit?id={{ field.id }}"><i class="icon-pencil"></i></a>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            Действия <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/{{ lang }}/admin/{{ controller }}/edit?id={{ field.id }}">Редактировать</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/{{ lang }}/admin/{{ controller }}/delete?id={{ field.id }}">Удалить</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    {{ field.type_name }}
                                </td>
                                <td>
                                   {{ field.order }}
                                </td>
                            </tr>
                        {% else %}
                            Не выбранно ни одной категории
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <!-- / table -->
            </div>
            <div class="panel-footer">
                <a href="#"><small>VIEW ALL</small></a>
                <a href="#"><div class="pull-right"><i class="icon-circle-arrow-right"></i></div></a>
            </div>
        </div>
    </div><!-- / row 2 -->
{% endblock %}

